body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #000000;
  color: white;
  padding: 1rem;
}
header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.header-link {
    color: #ffffff;
    float: right;
}
main {
  max-width: 64rem;
  margin: 0 auto;
  padding: 1rem;
  flex-grow: 1;
}

.social-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.github:hover { background-color: #333; }
.linkedin:hover { background-color: #0077b5; }
.twitter:hover { background-color: #1da1f2; }
.email:hover { background-color: #ea4335; }
.discord:hover { background-color: #5865f2; }